.boton_login {
    margin-top: 5%;
    display: flex;
    width: 100%;
    text-align: center;
}

.titleSignUp{
    color:rgb(77, 74, 74);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-up-button{
  justify-content: flex-end;
  display: flex;
}

.SignUp{
  justify-content: center;
  display: block;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .SignUp form {
      margin: 0 auto;
      max-width: 320px;
    }
  }